/* Cascading Style Sheet for HTML Help Workshop */

body		{
		font-size: 8pt; 
		line-height: 125%;   		
		font-family: Verdana, Arial, Helvetica,;
		}

pre		{
		font-size: 8pt;
		font-family: Courier New;
		color:black;
		}

code		{
		font-family:"Courier New";
		font-size:8pt; 
		}

a:link		{
		color: #0000FF;
		} 

a:active	{
		color: #0000FF;
		}

a:visited 	{  
		color: #0000FF;
		}

a:hover		{
		color: #0000FF;
		}


a:sidebar	{color: #339900; }

h1		{ font-size: 10pt; 
		margin-bottom: .5em;
		line-height: 125%; }

h2		{
		font-size: 100%;  
		margin-top: 1.5em;
		margin-bottom: 5pt;  }

h3		{
		font-size: 100%; 
		margin-top: 10pt;  
		margin-bottom: 2pt;
		margin-left:15pt;
		font-bold:no;
		font-weight: normal;
		}

h4		{ font-size: 100%;
	        color: darkmagenta;
		margin-top: 1.2em;  
		margin-bottom: .5em;  }

p		{
		margin-top: 10pt;  
		margin-left: 15pt;
		}

p2		{ 
		margin-top:10pt; 
		margin-bottom: 6pt;	
		margin-left:30pt;
		}

p.margin {
	margin-left: 57pt;
	margin-top: -47pt; }
	
p.margin2 {
	margin-left: 57pt; } 
	
li p		{ margin-top: .6em;
		margin-bottom: 0em;
		margin-left: 15pt;
		}
		
big		{  font-weight: bold; 
		font-size: 105%;  }
		
ol		{margin-top: .5em; 
		margin-bottom: 0em }	
	
ul		{
		margin-top: .6em; 	
		margin-bottom: 0em;
		margin-left: 15pt;
		}	

ol ul		{  list-style: disc; margin-top: 2em;  }


dl ul		{ margin-top: 2em;  
		margin-bottom: 0em;  }	/*list item inside a def/term*/

dl		{ margin-top: -1em;  }

ol dl	{ margin-top: -1.5em;
		 margin-left: 0em;  }		/*term/def list inside a numbered list*/

ol dl dl	{  margin-top: 0em;
		margin-left: .2em;  }		/*term/def list inside a term/def list*/

dd		{ margin-bottom: 0em;	/*not currently working*/
		margin-left: 1.5em;  }

dt		{  padding-top: 2em;
		margin-left: 1.5em;  }


table 		{
		font-size: 100%;
		text-align: left;
		margin-top: 1em;
		cellspacing=10;
		cellpadding=3;
		}


table.members	{
		width=100%;
		cellpadding=3;
		width=100%;
		cellspacing=0;
		font-bold:yes;
		}

table.parm 	{
		width=90%;
		cellpadding=10;
		cellspacing=10;
		border=1;
		font-bold:yes;
		}

table.banner	{
		background-color:#99CCFF;
		width=100%;
		cellspacing=0;
		font-bold:yes;
		}

table.syntax	{
		font-size: 8pt;
		background-color:#EEEEEE;
		width=90%;
		cellspacing=0;
		cellpadding=0;
		}

table.example	{
		font-family:"Courier New";
		font-size: 8pt;
		background-color:#DDDDDD;
		width=100%;
		cellspacing=0;
		}


tr		{ margin: .50em;
		vertical-align: top;
		}
			
th 		{ text-align: left;
		margin: .50em;
		vertical-align: top;
		background: #dddddd;
		}
						
td		{ margin: .50em;
		vertical-align: top;
		}

/* Only use this for sidebars that ARE in a list */
DIV.sidebartext {
	position: relative;
	left: -22px;
	height: 72px;
	width: 300px;
	margin-top: .6em;
	margin-right: 3em;
	margin-left: 0;
	margin-bottom: .6em;
	padding-top: .75em;
	padding-right: 6px;
	padding-left: .75em;
	padding-bottom: .75em;
	cursor: hand;
	border-left: 4pt solid #339900;
	background-color: #F0F0F0; }

/* Only use this for sidebars that are NOT in a list */
DIV.sidebartbl {
	height: 72px;
	width: 300px;
	margin-top: .6em;
	margin-right: 3em;
	margin-left: 0;
	margin-bottom: .6em;
	padding-top: .75em;
	padding-right: 8em;
	padding-left: .75em;
	padding-bottom: .75em;
	cursor: hand;
	border-left: 4pt solid #339900;
	background-color: #F0F0F0; }
	
a:visited.sidebar: {
	color: #339900;
	text-decoration: none; }
	
a:hover.sidebar: {
	text-decoration: underline; }

.endlink {
	line-height: 6pt;
	position: relative;
	top: 1pt;
	background-color: transparent;
	font-weight: bold;
	font-size: 7pt;
	font-style: italic;
	color: black;
	text-decoration: none;
	cursor: hand;
	width: 20px;
	height: 8pt;
	padding-top: -2pt;
	padding-bottom: 1pt;
	margin: 0pt;
	border-bottom: 1pt solid #cc0033;
	border-top: 1pt solid #cc0033; }




